<v-container>
        <div class="parentDiv alignCenter">
                <div class="inlineDiv button yellowText" id="questionButton">
                    <span class="normalFont smallText yellowText">راهنما</span>
                    <i class="fa fa-question yellowText"></i>
                </div>
                <i class="fa fa-th filterIcon button filterViewButton"></i>
                <i class="fa fa-th-list filterIcon button filterViewButton"></i>
                <div class="inlineDiv tenPercent"></div>
                <div class="inlineDiv button filterButton">
                    <div class="parentDiv ">
                        <i class="fa fa-angle-down filterIcon filterTagIcon" id="resolutionFilterTag"></i>
                        <span class="inlineDiv blueButton  normalFont smallText whiteText filterTag">
                            همه
                        </span>
                        <span class="inlineDiv normalFont lightText smallText filterText">
                            رزولوشن
                        </span>
                    </div>
                </div>
                <div class="inlineDiv button filterButton">
                    <div class="parentDiv ">
                        <i class="fa fa-angle-down filterIcon filterTagIcon"></i>
                        <span class="inlineDiv blueButton  normalFont smallText whiteText filterTag">
                            همه
                        </span>
                        <span class="inlineDiv normalFont lightText smallText filterText">
                            نوع
                        </span>
                    </div>
                </div>
                <div class="inlineDiv button filterButton">
                    <div class="parentDiv ">
                        <i class="fa fa-angle-down filterIcon filterTagIcon"></i>
                        <span class="inlineDiv blueButton  normalFont smallText whiteText filterTag">
                            همه
                        </span>
                        <span class="inlineDiv normalFont lightText smallText filterText">
                            ریلیز
                        </span>
                    </div>
                </div>
                <div class="inlineDiv button filterButton">
                    <div class="parentDiv ">
                        <i class="fa fa-angle-down filterIcon" id="filterLanguage"></i>
                        <div class="inlineDiv normalFont lightText smallText" id="innerFilterLanguages">
                            همه ی زبان ها
                        </div>
                    </div>
                </div>
            </div>
            <div class="parentDiv alignCenter completeSize" id="proSuggestSelectorParent">
                <div class="inlineDiv alignCenter">
                    <label for="suggest-option" class="normalFont extraSmallText darkText">پیشنهادی</label>
                    <input type="radio" id="suggest-option" name="selector" class="proSuggestedRadioButton">
                </div>
                <div class="inlineDiv alignCenter">
                    <label for="pro-option" class="normalFont extraSmallText darkText">حرفه ای</label>
                    <input type="radio" id="pro-option" name="selector" class="proSuggestedRadioButton">
                </div>
            </div>
</v-container>