<v-container fluid>
    <v-layout column>
        <section-title text="شماره ی همراه" divWidth="90px"></section-title>
    </v-layout>
    <v-layout row wrap>
        <v-flex class="text-xs-right mr-4">
            <my-input inputMode="numeric" placeHolder="شماره ی تلفن خود را اینجا وارد کنید" width="18em">
            </my-input>
        </v-flex>
    </v-layout>
    <v-layout justify-end >
        <v-btn color="green darken-1" class="mr-4 mt-4 normalFont bold" dark>
            ذخیره ی شماره تماس
        </v-btn>
    </v-layout>             
    <v-layout>
        <section-title text="ویرایش اطلاعات کاربری" divWidth="140px"></section-title>
    </v-layout>
    <v-layout justify-end>
        <span class="normalFont mediumText mr-4 lightText">نام</span>
    </v-layout>  
    <v-layout row wrap>
        <v-flex class="text-xs-right mr-4 mt-2">
            <my-input inputMode="text" placeHolder="نام خود را اینجا وارد کنید" width="18em">
            </my-input>
        </v-flex>
    </v-layout>
    <v-layout justify-end>
        <span class="normalFont mediumText mr-4 mt-2 lightText">نام خوانوادگی</span>
    </v-layout>      
    <v-layout row wrap>
        <v-flex class="text-xs-right mr-4 mt-2">
            <my-input inputMode="text" placeHolder="نام خوانوادگی خود را اینجا وارد کنید" width="18em">
            </my-input>
        </v-flex>
    </v-layout> 
    <v-layout justify-end>
        <span class="normalFont mediumText mr-4 mt-2 lightText">نام مستعار</span>
    </v-layout>          
    <v-layout row wrap>
        <v-flex class="text-xs-right mr-4 mt-2">
            <my-input inputMode="text" placeHolder="نام مستعار خود را اینجا وارد کنید" width="18em">
            </my-input>
        </v-flex>
    </v-layout> 
    <v-layout justify-end>
        <span class="normalFont mediumText mr-0 mt-2 lightText">(</span>
        <span class="normalFont mediumText mr-4 mt-2 lightText">ایمیل(نام کاربری</span>
    </v-layout>              
    <v-layout row wrap>
        <v-flex class="text-xs-right mr-4 mt-2">
            <my-input inputMode="text" placeHolder="ایمیل خود را اینجا وارد کنید" width="18em">
            </my-input>
        </v-flex>
    </v-layout>
    <v-layout justify-end >
        <v-btn color="green darken-1" class="mr-4 mt-4 normalFont bold" dark>
            بروز رسانی
        </v-btn>
    </v-layout>               
</v-container>